<!DOCTYPE html>
<html>

<head>
    <title>REST - Atlassian Documentation</title>
    <!-- AUI core -->
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.2/css/aui.css" media="all">
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.2/css/aui-experimental.css" media="all">

    <script type="text/javascript">
        window.ATLASSIAN = {
            data: {{{data}}},
            context: "{{{context}}}",
            basePath: "{{{basePath}}}"
        };
    </script>
    <script src="{{{basePath}}}/js/bundle.js"></script>
</head>

<body>
    <div id="page">
        <header id="header" role="banner">
            {{{devMode}}}
            <nav class="aui-header" role="navigation" data-aui-responsive="true">
                <div class="aui-header-inner">
                    <div class="aui-header-primary">
                        <h1 id="logo" class="aui-header-logo aui-header-logo-custom">
                            <a href="{{{context}}}">
                                <img src="{{{basePath}}}/images/atlassian-developers-logo.png" alt="Atlassian Developer Documentation" data-aui-responsive-header-index="0">
                            </a>
                        </h1>
                    </div>
                </div>
            </nav>
        </header>
        <div id="app"></div>
        <footer id="footer" role="contentinfo">
            <section class="footer-body">
                <ul>
                    <li>Copyright &copy; 2015 <a href="http://www.atlassian.com" target="_blank">Atlassian</a>. All rights reserved</li>
                    <li><a href="http://atlassian.com/company/trademark" target="_blank">Trademark</a></li>
                    <li><a href="http://atlassian.com/company/privacy" target="_blank">Privacy</a></li>
                </ul>
                <div id="footer-logo"><a href="http://www.atlassian.com/" target="_blank">Atlassian</a></div>
            </section>
        </footer>
    </div>
</body>

</html>