@import "../../spacing.less";

.resource-list-table {
    .aui-lozenge {
        margin-right: @halfSpacing;
        
        a {
            color: inherit;
        }
    }   

    .path-column-data {
        word-break: break-all;
    } 
}