@import "../../../mixins.less";

.resource-responses {
    table-layout: fixed;
    
    pre {
        .codeBlock();
    }

    .status {
        width: 130px;
    }

    .description {
        width: 30%;
        min-width: 200px;
    }

    .example {
        width: auto;
    }
}